http:
  addr: 0.0.0.0:8182
database:
  driver: mysql
  source: root:kingdom@tcp(172.16.10.163:3307)/ai_proxy
  max_idle: 20
  max_open: 20
  max_conn_life_time: 10800s
redis:
  addr: 172.16.10.163:6379
  password: ""
  db: 15
  pool_size: 100
  read_timeout: 30s
  write_timeout: 30s
  dial_timeout: 20s
rocketMQ:
  endpoint: 172.16.10.163:6379
  secret_key: ai-test
  access_key: eyJrZXlJZCI6InJvY2tldG1xLTdkYWtkN2EzM3ZrbSIsImFsZyI6IkhTMjU2In0.eyJzdWIiOiJyb2NrZXRtcS03ZGFrZDdhMzN2a21fYWktdGVzdCJ9.aH_vScrbrTqysalBrJgBaJczMnGQpb8FVD8iNA8MFx0
  namespace: rocketmq7dakd7a33vkm_MQ_INST_meta
  topic: ai-webui-dev
  group: ai-webui-sub
  retries: 3
